    
    <footer class="footer">
        <p>&copy; Fabricio Polo, 2019</p>
        <p>Site feito como conclusão de curso de Desenvolvimento Web.</p>
    </footer>
    <script type="text/javascript" src="/script.js"></script>
</body>
</html>