<nav class="nav">
    <div class="logoarea">
        <a href="/" class="nav-logo">iCamp</a>
    </div>
    <div class="menu">
        <a href="/sobre" class="menu__link">Sobre</a>
        <a href="/acampamentos" class="menu__link">Acampamentos</a>
        <span class="menu__dash"> | </span>
        <% if (!currentUser) { %>
            <a href="/registrar" class="menu__link">Cadastre-se</a>
            <a href="/login" class="menu__link">Login</a>
        <% } else { %>
            <span class="menu__username"><%= currentUser.name %></span>
            <a href="/logout" class="menu__link">Sair</a>
        <% }; %>
        
        
    </div>
</nav>