<nav class="nav">
    <div class="logoarea">
        <a href="/" class="nav-logo">iCamp</a>
    </div>
    <div class="menu">
        <a href="#" class="menu__link">Sobre</a>
        <a href="/acampamentos" class="menu__link">Acampamentos</a>
        <a href="#" class="menu__link">Login</a>
    </div>
</nav>