<% include ../partials/header %>
<% include ../partials/navbar %>


<div class="page-container">
    <h1 class="page-title">Editar Acampamento - <%= acampamento.name %></h1>
    <a href="/acampamentos" class="btn btn-basic">Voltar</a>
</div>

<form class="form" action="/acampamentos/<%= acampamento._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <input type="text" placeholder="Nome do acampamento" name="name" class="input__text" value="<%= acampamento.name %>">
    <input type="file" name="img" id="img-choose" style="display:none;">
    <label for="img-choose" class="input__text input__text--img" id="img-label">Adicionar Imagem do Acampamento</label>
    <textarea placeholder="Descrição" name="desc" cols="30" rows="10" class="input__text"><%= acampamento.desc %></textarea>
    <button class="btn btn-basic">Atualizar</button>
</form>

<% include ../partials/footer %>