<% include partials/header %>
<% include partials/navbar %>

<div class="home-container">
    <h1 class="home-title">Bem-vindo ao iCamp!</h1>
    <p class="home-desc">Encontre os melhores lugares para acampar.</p>
    <a href="/acampamentos" class="btn btn-main">Acampar!</a>
</div>

<% include partials/footer %>
