<% include partials/header %>
<% include partials/navbar %>

<div class="page-container">
    <h1 class="page-title"><%= acampamento.name %></h1>
    <a href="/acampamentos" class="btn btn-basic">Voltar</a>
</div>
<div class="hero">
    <img class="hero-img" src="<%= acampamento.img %>" alt="<%= acampamento.name %>">
    <div class="hero-details">
        <p class="hero-details__desc"><%= acampamento.desc %></p>
    </div>
</div>


<% include partials/footer %>