<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="page-container">
    <h1 class="page-title">iCamp - Projeto de Estudo</h1>
</div>

<div class="page-text">
    <p class="text-block">Este web app foi desenvolvido com o propósito de estudo, projeto de encerramento de um curso de Web Development. O intuito foi colocar em prática diferentes tecnologias e linguagens estudadas ao longo do curso.</p>
    <p class="text-block">As seguintes tecnologias e linguagens foram aplicadas no desenvolvimento deste web app:</p>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Node.JS</li>
        <li>MongoDB</li>
        <li>express.js</li>
        <li>passport.js</li>
        <li>Git/GitHub</li>
    </ul>
    <p class="text-block">O repositório deste projeto pode ser conferido <a href="https://github.com/fapolo/iCamp" class="text-link" target="_blank">neste link</a>.</p>
</div>
    


<% include ./partials/footer %>